<% unless @doctorslot.present? %>
  $(".flash").innerHTML = "<%= escape_javascript(render 'shared/flash') %>"
<% end %>

<% if @doctorslot.present? %>
function modalStr () {
  return `
    <div class="flex items-center justify-center min-height-100vh pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
      </div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
      <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">

        <%= form_with url: booking_appointments_path, method: 'post', class: 'bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4' do |f| %>
          <%= f.text_field :location_id, class: 'hidden', value: @location_id, readonly: true %>
          <%= f.text_field :doctor_id, class: 'hidden', value: @doctor_id, readonly: true %>
          <label>Doctor</label>
          <input type="text" class="w-full bg-gray-100 p-2 mt-2 mb-3" value="<%= @doctorslot.doctor.full_name %>" readonly />
          <label>Patient</label>
          <input type="text" class="w-full bg-gray-100 p-2 mt-2 mb-3" value="<%= current_user.name %>" readonly />
          <%= f.label :slot_number, "Select Slot" %>
          <%= f.select :slot_number, options_for_select(@available_slots), {}, class: "w-full bg-gray-100 p-2 mt-2 mb-3" %>
          <div class="py-3 text-right">
            <%= f.submit "Pay #{@doctorslot.amount_to_pay}", class: "py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2" %>
            <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700" onclick="toggleModal()">Cancel</button>
          </div>
        <% end %>
        </div>
      </div>
    </div>`
}

let modal = $("#modal")
if(modal) {
  $append(modal, modalStr())
  $("#modal").classList.remove("hidden")
}

<% end %>
