<h1>Login</h1>

<%= form_with url: patients_login_path, method: 'post', class: 'login-form' do |f| %>
	<div class="form-group">
		<% if flash[:error] %>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong><%= flash[:error] %></strong>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		<% end %>
	</div>
	<div class="form-group">
		<%= f.label :country_code, "Country Code" %>
		<%= f.number_field :country_code, class: 'form-control', required: true %>
	</div>
	<div class="form-group">
		<%= f.label :phone, "Phone" %>
		<%= f.number_field :phone, class: 'form-control', required: true %>
	</div>
	<div class="form-group">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password, class: 'form-control', required: true %>
	</div>
	<br/>
	<%= f.button "Login", type: 'submit', class: 'btn btn-primary' %>
<% end %>
