<!DOCTYPE html>
<html>
<head>
  <title>CURELIFE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark teal">
        <%= link_to root_url, class: "navbar-brand" do %>
         <strong>Curelife</strong>
         <% end %>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <!-- <footer class="mastfoot mt-auto">
    </footer> -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
