<!DOCTYPE html>
<html>
  <head>
    <title>Curelife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans">
  </head>

  <body class="text-gray-700 bg-white">
    <%= render 'shared/header' %>
    <%= yield %>
    
    <footer class="mastfoot mt-auto">
      <div class="inner"></div>
    </footer>
  </body>
</html>
